<ion-header>
  <ion-toolbar>
    <ion-title>Galería de Fotos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="addPhotoToGallery()">
    Tomar Foto
  </ion-button>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photos">
        <ion-img [src]="photo.webviewPath"></ion-img>
        <ion-button color="danger" (click)="deletePhoto(photo.filepath)">
          Eliminar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
